
/*navbar*/


    
        /*specific*/




#container{
    height:1000px;
    width:90%;
    /* border:1px solid black; */
}
#div{
    height:660px;
    width:500px;
    border:1px solid rgb(235, 13, 13);
    margin-left: 100px;
}
#img{
    height:500px;
    width: 50px;
    /* border: 1px solid rgb(219, 218, 218); */
}

/* #div>row{
    height:150px;
    width:500px;
    border:1psx solid green;
    margin-top:-800px;
} */

#img1{
    height:150px;
    width: 150px;
    border:1px solid red;
    border: 1px solid rgb(219, 218, 218);
    gap:20px;
}
#div1{
    height: 1200px;
    width:850px;
    /* border:1px solid pink; */
    margin-left:800px;
    margin-top: -660px;
}
#p1{
    font-size: 60px;
    margin-top:-10px;
}

#h1{
    font-size: 25px;
    font-family: 'Karla', sans-serif;
    color: #747171;
    margin-bottom: 20px;
    line-height: 30px;

}
#h5{
    font-size: 40px;
    color: rgb(62, 146, 62);
}
#div2{
    /* border: 1px solid red; */
    height:100px;
    width:500px;
    /* margin-top: -320px;
    margin-left: 850px; */
    gap:50px;
    margin-top:330px;
    margin-right: 300px;
}
#img2{
    height: 100px;
    width: 100px;
    /* border: 1px solid pink; */
    border-radius: 50%;
    gap:50px;
    border: 1px solid rgb(219, 218, 218);
}
#p{
    margin-top: -320px;
    /* margin-left: 850px; */
    font-size: 20px;
    font-weight: bold;
}
#p1{
    font-size: 80px;
    color:rgb(160, 32, 32);
    margin-top:80px;
}
#btn{
    height:60px;
    width:150px;
    color:black;
    border: rgb(102, 101, 101);
    background-color: rgb(245, 236, 236);
    border-radius: 25px;
    margin-top: -450px;
}
#p2{
    margin-top: 40px;
    font-size: 30px;
    font-style: italic;
}
#p3{
    font-size: 22px;
    font-style: italic;
}
#div3{
    height:500px;
    width:100%;
    border:1px solid white;
    margin-top:650px;

}
#h6{
    font-size: 60px;
    margin-top: 200px;
    margin-left: 100px;
}

#p4{
    font-size: 28px;
    margin-left: 100px;
}
#div4{
    height:500px;
    width:50%;
    margin-left:890px;
    border-radius: 20px;
    margin-top: -450px;
}


#hhh1>h1{
    height: 400px;
    width:30%;
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
    margin-left: 600px;
    /* border: 1px solid blue; */
}
#containt{
    height:450px;
    width:85%;
    /* border:1px solid green; */
    margin-top:-300px;
    background-color: rgb(145, 102, 22);
    margin-left:120px;
    display: flex;
    gap:30px;
    
}

#row{
    height:300px;
    width:300px;
    /* border:1px solid red; */
    display: flex;
    margin-left: 40px;
    gap:20px;
}
#p5{
    font-size: 18px;
    text-align: center;
    margin-top: 320px;
    margin-left:-350px;
}
#h3{
    font-size: 25px;
    text-align: center;
    color:red;
    margin-top: 350px;
    margin-left:-150px;
}
#btn1{
    margin:auto;
    height:40px;
    width:150px;
    color:white;
    background-color: rgb(44, 112, 44);
    margin-top: 400px;
    margin-left:-120px;
}

/*footeer*/
*{
    margin: 0px;
    padding: 0px;
}


    p{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 8px;
    }

    #icon{
        height:50px;
        width:400px;
        border:1px solid red;
        margin-left:200px;
        }
    #map{
        height:60px;
        width:60px;
        /* margin-left:20px; */
        margin-top:-5px;
    }
    #map>h6{
        margin-top:-50px;
        margin-left:50px;
        font-size: 15px;
    }

    
       *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
            line-height: 25px;
        }
        
        
        #shadow{
            height: 10px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }
        footer{
            
                margin-top:500px;
                height:370px;
                width:100%;
                /* border:1px solid red; */
                background-color:rgba(44, 119, 54, 0.7);
    
           
        }
        footer>div{
            height:50px;
            width: 70%;
            display: flex;
            margin: 60px auto;
            justify-content: space-between;
            align-items: flex-start;
            font-size: 12px;
        }
        footer>div>div *{
            margin-bottom: 20px;
            text-decoration: none;
            color: rgb(29, 28, 28);
            margin-top:30px;
            
        }
        footer div>h2{
            font-size: 20px;
            color: rgb(51, 51, 51);
            font-weight: lighter;
        }
        footer div>div>input{
            height: 40px;
            width: 200px;
            border: none;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        footer div>div>button{
            height: 40px;
            width: auto;
            border: none;
            color: white;
            border-radius: 8px;
            padding: 0 15px;
            background-color: rgb(196, 159, 91);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        footer div>div>button:hover{
            background-color: black;
        }
        footer a>p:hover{
            color: rgb(244, 182, 66);
        }
        #footLogo{
            width: 400px;
            margin-top:50px;
            margin-right:-1000px;
            margin-left:450px;
        }
        footer>#footLogo>a{
            padding: 10px 10px;
            margin: 5px;
            font-size: 10px;
            border-radius:100%;
            background-color: grey;
        }
        #copy{
            margin-top: 320px;
            margin-left:-100px;
            margin-right: 600px;
        }
        footer>div:last-child{
            font-size: 18px;
            margin-top: -200px;
            margin-left: 20%;
        }  
        a{
            color: black;
         text-decoration: none;
        }  
    p:hover {
            background-color: #333333;
          
        }  
        a:hover{
            color: white;
        } 
        .social{
            background-color: blue;
            width: 100%;
            display: grid;
            justify-content: space-between;
            justify-content: space-around;
            
        }
        hr{
            color:black;
        }
        button::after{
            gap: 50px;
        }
        .social_facebook{
            width: 100%;
            margin-left: 100px;
            background-color: #4267B2;
            color: white;
            text-decoration: none;
           text-align: start;
          text-decoration-color: white;
          border: 1px solid white;
          padding: 0px;
          font-size: 15px;
        }
        .social_google{
            width: 100%;
            background-color: #db3236;
            color: white;
            text-decoration: none;
           text-align: start;
          text-decoration-color: white;
          border: 1px solid white;
          padding: 9px;
          font-size: 15px;
        }
       .fa_img{
           width: 10%;
           display: flex;
           justify-content: space-between;
           

       }
       .fa_img::before{
          gap: 20px;
       }
       col{
            margin: auto;
        }
        col>a>button{
            display: block;
            width: 100%;
            margin: 10px auto;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            font-size: 18px;
            border-radius: 8px;
        }
        col>a{
            text-decoration: none;
        }
        .fa-brands{
            padding: 8px;
            background-color: rgba(250, 250, 250, 0.374);
        }
        #blueBack{
            background-color: rgb(61, 61, 200);
            color: white;
            display: block;
            width: 100%;
            margin: 10px auto;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            font-size: 18px;
            border-radius: 8px;
        }
        #redBack{
            background-color: rgb(246, 75, 75);
            color: white;
            display: block;
            width: 100%;
            margin: 10px auto;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            font-size: 18px;
            border-radius: 8px;
        }
          
    

        #cart{
            height:150px;
            width:100%;
            background-color: green;
            font-size: 60px;
            color: white;
            text-align: center;
            
           
        }
        #kim{
            color:wheat;
            font-size: 30px;
            margin-top:-5px;
        }
       
        #container{
            margin-top:-0px;
    height:1000px;
    width:100%;
    /* border:1px solid black; */
}
#div{
    height:660px;
    width:700px;
    /* border:1px solid rgb(235, 13, 13); */
    margin-left: 100px;
}
#img{
    height:500px;
    width: 620px;
    /* border: 1px solid rgb(219, 218, 218); */
}

/* #div>row{
    height:150px;
    width:500px;
    border:1psx solid green;
    margin-top:-800px;
} */

#img1{
    height:150px;
    width: 150px;
    /* border:1px solid red; */
    border: 1px solid rgb(219, 218, 218);
    gap:20px;
}
#div1{
    height: 1200px;
    width:850px;
    /* border:1px solid pink; */
    margin-left:800px;
    margin-top: -660px;
}
#p1{
    font-size: 60px;
    margin-top:-10px;
}

#h1{
    font-size: 25px;
    font-family: 'Karla', sans-serif;
    color: #747171;
    margin-bottom: 20px;
    line-height: 30px;

}
#h5{
    font-size: 40px;
    color: rgb(62, 146, 62);
}
#div2{
    /* border: 1px solid red; */
    height:100px;
    width:500px;
    /* margin-top: -320px;
    margin-left: 850px; */
    gap:50px;
    margin-top:330px;
    margin-right: 300px;
}
#img2{
    height: 100px;
    width: 100px;
    /* border: 1px solid pink; */
    border-radius: 50%;
    gap:50px;
    border: 1px solid rgb(219, 218, 218);
}
#p{
    margin-top: -320px;
    /* margin-left: 850px; */
    font-size: 20px;
    font-weight: bold;
}
#p1{
    font-size: 80px;
    color:rgb(160, 32, 32);
    margin-top:80px;
}
#btn{
    height:60px;
    width:150px;
    color:black;
    border: rgb(102, 101, 101);
    background-color: rgb(245, 236, 236);
    border-radius: 25px;
    margin-top: -450px;
}
#p2{
    margin-top: 40px;
    font-size: 30px;
    font-style: italic;
}
#p3{
    font-size: 22px;
    font-style: italic;
}
#div3{
    height:500px;
    width:100%;
    border:1px solid white;
    margin-top:650px;

}
#h6{
    font-size: 60px;
    margin-top: 200px;
    margin-left: 100px;
}

#p4{
    font-size: 28px;
    margin-left: 100px;
}
#div4{
    height:500px;
    width:50%;
    margin-left:890px;
    border-radius: 20px;
    margin-top: -450px;
}


#hhh1>h1{
    height: 400px;
    width:30%;
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
    margin-left: 600px;
    /* border: 1px solid blue; */
}
#containt{
    height:450px;
    width:85%;
    /* border:1px solid green; */
    margin-top:-300px;
    background-color: rgb(145, 102, 22);
    margin-left:120px;
    display: flex;
    gap:30px;
    
}

#row{
    height:300px;
    width:300px;
    /* border:1px solid red; */
    display: flex;
    margin-left: 40px;
    gap:20px;
}
#p5{
    font-size: 18px;
    text-align: center;
    margin-top: 320px;
    margin-left:-350px;
}
#h3{
    font-size: 25px;
    text-align: center;
    color:red;
    margin-top: 350px;
    margin-left:-150px;
}
#btn1{
    margin:auto;
    height:40px;
    width:150px;
    color:white;
    background-color: rgb(44, 112, 44);
    margin-top: 400px;
    margin-left:-120px;
}
